body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#network-container {
  height: 100vh;
}
/* LEGENDBOX CSS*/

.Legend {
  
  margin: 16px;
  background-color: #182424;
  position: absolute;
  z-index: 999;
}

.Legend p {
  margin: 6px 0 ;
  color: white;
}
 
.legendWrapper {
  display: flex;
  transition: opacity 0.2s ease-out, max-width 0.7s ease-out,
    max-height 1.5s ease-out;
  opacity: 1;
  max-height: 200px;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
}

.legendWrapper.hidden {
  transition: opacity 0.4s ease-out, max-width 0.7s ease-out,
    max-height 0.4s ease-out;
  opacity: 0;
  max-height: 0;
  max-width: 0;
  margin: 0!important;
}
.legendInfo{
  margin: 6px 0 10px 10px;
}
.legendInfoItem p {
 font-size: small;
}
.legendInfoItem-symbol{
display: flex;
align-items: center;
margin: 0 0 0 10px;
}
.legend-selectedPlayer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #2b7ce9;
  background-color: #d2e5ff;
}
.legend-player {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fde768;
  background-color: #fef3b3;
}
.legend-redplayer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ff2525;
  background-color: #ff2525;
}
.legend-bluelink {
  width: 35px;
  height: 1px;
  border: 2px solid blue;
}
.legend-redlink {
  width: 35px;
  height: 1px;
  border: 2px solid #ff2525;
}
/* END LEGENDBOX CSS*/

/* LOADER CSS*/

.loadder * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loadder {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom {
  position: absolute;
  bottom: 0px;
}
.relative-pos {
  position: relative;
}
.loadder div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  background: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem 2rem;
}

.loadder div > svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.loadder div > svg > rect {
  fill: none;
  stroke: white;
  stroke-width: 2px;
  stroke-dasharray: 250 180;
  stroke-dashoffset: 0;
  animation: pathRect 2s linear infinite;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 100;
  }

  50% {
    stroke-dashoffset: 200;
  }

  75% {
    stroke-dashoffset: 300;
  }

  100% {
    stroke-dashoffset: 400;
  }
}
/* END LOADER CSS*/
